body {
  height: 100vh;
  display: flex;
  align-items: stretch;
  font-family: 'Aliquam';
  letter-spacing: 0.2em;
}

.container {
  display: flex;
  flex: 1;
  align-items: stretch;
}

.chat-room-app {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.chat-area {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.chats {
  padding: 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;

  background-color: #181D20;
  color: #FFFFFF;
}

.chat {
  display: flex;
  flex-direction: row;
  align-items: flex-begin;
  .chat-user {
    width: 6rem;
    margin-right: 1rem;
    text-align: right;
  }
  .chat-text {
  }
}

.chat-form {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 1rem;
  background-color: #14171A;
  color: #FFFFFF;
  box-shadow: 0px 0px 2px #000000;

  input, button {
    font-family: 'Aliquam';
    font-size: 1rem;
    height: 100%;
    background-color: #111518;
    border-radius: none;
    border: solid 1px;
    &:active, &:focus, &:hover {
      border-color: #43A6D8;
    }
  }

  input {
    flex: 1;

    margin: 0 1rem;
    border-color: #666666;
  }

  button {
    flex: 0;
    border-color: #FFFFFF;
    &:disabled {
      border-color: #666666;
      color: #666666 !important;
    }
    &:active, &:focus, &:hover {
      color: #43A6D8;
    }
  }
}

.user-scroll {
  flex: 1;

  background-color: #252C33;
  color: #FFFFFF;
  box-shadow: -1px -1px 2px #000000;
  outline: 0;
}

.user-tray {
  display: flex;
  flex-direction: column;
}

.user {
  margin: 0.75rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .user-icon, .user-avatar {
    margin-right: 1rem;
  }
  .user-info {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
  }
}
